.imgWrapper{
    position: relative;
    overflow: hidden;
    max-width: 270px;
}
.imgWrapper:hover img{
    transition: 0.5s ease-in-out;
    width: 100%;
    object-fit: cover;
}
.imgWrapper:hover img{
    transform: scale(1.2);
}
#categorie .swiper {
    height: 100%;
    
}
#categorie .swiper-wrapper{
    padding-block: 30px;
}