.main-popup .popup-info .form-wrapper input{
  width: 100%;
  background-color: #fff;
  border-radius: 30px;
  padding: 10px 20px;
  outline: none;
  color: #fff;
}

.btn {
  width: 170px;
  padding-block: 10px;
  text-align: center;
  color: #000;
  text-transform: uppercase;
  font-weight: 600;
  cursor: pointer;
  display: inline-block;
}


.btn {
  color: #fff;
  border: 3px solid #4b4a4b;
  background-image: -webkit-linear-gradient(30deg, #c266d3 50%, transparent 50%);
  background-image: linear-gradient(30deg, #000 50%, transparent 50%);
  background-size: 500px;
  background-repeat: no-repeat;
  background-position: 0%;
  -webkit-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
}
.btn:hover {
  background-position: 100%;
  color: #000;
}

.popupCloseBtn{
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
}

 